version: '3'

services:
  backend:
    image: ${DOCKER_USERNAME}/backend:latest
    ports:
      - "3000:8000"
    environment:
      NODE_ENV: production
      LOG_LEVEL: trace
      PORT: 8000
      HOST: 0.0.0.0
      DATABASE_URL: ${DATABASE_URL}
      # SHADOW_DATABASE_URL: ${SHADOW_DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      COOKIE_SECRET: ${COOKIE_SECRET}
      EXTERNAL_SERVICE_LOGIN: ${EXTERNAL_SERVICE_LOGIN}
      EXTERNAL_SERVICE_PASSWORD: ${EXTERNAL_SERVICE_PASSWORD}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      S3_ENDPOINT: ${S3_ENDPOINT}
    volumes:
      - ./logs:/app/logs

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    mem_limit: 1gb
    cpus: 0.5 
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - elk
    depends_on:
      - backend

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    container_name: kibana
    mem_limit: 1gb
    cpus: 0.3 
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_PASSWORD=${ELASTIC_PASSWORD}
      - xpack.security.enabled=false
      - xpack.ml.enabled=false
      - xpack.apm.enabled=false
      - xpack.reporting.enabled=false
      - xpack.logstash.enabled=false
      - xpack.telemetry.enabled=false
      - xpack.task_manager.enabled=false
      - xpack.customBranding.enabled=false
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - elk

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.15.0
    container_name: filebeat
    environment:
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
    volumes:
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml
      - ./logs:/usr/share/filebeat/app/logs
    command: ["--strict.perms=false", "-e", "-d", "*"]
    depends_on:
      - kibana
    networks:
      - elk
    
volumes:
  esdata:
    driver: local

networks:
  elk:
    driver: bridge
