version: '3'

services:
  backend:
    image: ${DOCKER_USERNAME}/ticket-system_backend:latest
    ports:
      - "3000:8000"
    environment:
      NODE_ENV: development
      LOG_LEVEL: debug
      PORT: 8000
      HOST: 0.0.0.0
      DATABASE_URL: ${DATABASE_URL}
      SHADOW_DATABASE_URL: ${SHADOW_DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      COOKIE_SECRET: ${COOKIE_SECRET}
      EXTERNAL_SERVICE_LOGIN: ${EXTERNAL_SERVICE_LOGIN}
      EXTERNAL_SERVICE_PASSWORD: ${EXTERNAL_SERVICE_PASSWORD}
      S3_BUCKET_NAME: ${S3_BUCKET_NAME}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      S3_ENDPOINT: ${S3_ENDPOINT}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
    volumes:
      - ./logs:/app/logs