name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/backend:latest

    - name: Deploy to Server
      uses: appleboy/ssh-action@v0.1.8
      with:
        host: ${{ secrets.REMOTE_HOST }}
        username: ${{ secrets.REMOTE_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/backend:latest
          docker stop backend || true
          docker rm backend || true
          docker run -d -p 8000:8000 \
            --name backend \
            -e NODE_ENV=production \
            -e LOG_LEVEL=debug \
            -e PORT=8000 \
            -e HOST=0.0.0.0 \
            -e DATABASE_URL=${{ secrets.DATABASE_URL }} \
            -e JWT_SECRET=${{ secrets.JWT_SECRET }} \
            -e COOKIE_SECRET=${{ secrets.COOKIE_SECRET }} \
            -e EXTERNAL_SERVICE_LOGIN=${{ secrets.EXTERNAL_SERVICE_LOGIN }} \
            -e EXTERNAL_SERVICE_PASSWORD=${{ secrets.EXTERNAL_SERVICE_PASSWORD }} \
            -e VITE_BACKEND_URL=${{ secrets.VITE_BACKEND_URL }} \
            -e S3_BUCKET_NAME=${{ secrets.S3_BUCKET_NAME }} \
            -e S3_ACCESS_KEY=${{ secrets.S3_ACCESS_KEY }} \
            -e S3_SECRET_KEY=${{ secrets.S3_SECRET_KEY }} \
            -e S3_ENDPOINT=${{ secrets.S3_ENDPOINT }} \
            ${{ secrets.DOCKER_USERNAME }}/backend:latest
